<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @memo.price %>
  yen
</p>

<p>
  <strong>Memo:</strong>
  <%= @memo.memo %>
</p>

<p class="created_time">
  <%= @memo.created_at %>
</p>

<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
