<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @memo.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @memo.time %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @memo.memo %>
</p>

<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
